ul {
  font-family: "JetBrains Mono", monospace;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0;

  li {
    margin-bottom: 0.25rem;
    width: 60%;

    :hover {
      background: orangered;
      color: #fff;
      cursor: pointer;

    }
  }
}
