ul {
  font-family: "JetBrains Mono", monospace;
  list-style: none;
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  align-items: center;

  li {
    margin-bottom: 0.25rem;
    width: 60%;

    :hover {
      background: orangered;
      color: #fff;
      cursor: pointer;
    }
  }
}
